<div class="forest_content">
  <p>home works!</p>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>The autumn forest</mat-card-title>
    <mat-card-subtitle>forest</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://img.lovepik.com/bg/20231219/Orange-Forest-Exploring-a-Trail-and-Stream-in-a-Vibrant_2475628_wh1200.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      In the golden embrace of autumn, the forest is a fiery canvas. 
      The leaves, once emerald green, now dance in shades of burnt orange, fiery red, and deep gold. 
      Sunlight filters through the canopy, illuminating the vibrant spectacle and casting a warm, ethereal glow on the forest floor. 
      A gentle breeze whispers through the trees, sending a shower of amber and crimson down to blanket the earth, creating a soft, rustling carpet. 
      This is a time of quiet beauty, as the forest prepares for its long winter's rest, its final, breathtaking show a testament to the cycle of life.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
